.article{
    width: 660px;padding: 10px 0 0 20px;font-size: 14px;line-height: 20px;color: #333333;
}

/*h4 {padding-left:15px; line-height:2em; margin-bottom:0.5em; border-bottom:1px dotted #BAC6D8; color:#195A95; background:transparent url(images/dot.gif) no-repeat 5px 50%; }*/

.article ul{
    float: left;padding-top: 40px;
}
/*.article ul li{*/
    /*background:url(images/left_link_div.gif) left bottom repeat-x;width: 620px;height:35px;font-size: 12px;line-height:25px;text-align: left;*/
/*}*/
.article ul li a{
    width:500px;float:left;display:block;color:#333;text-decoration:none;background: url(../images/arrow.gif) no-repeat 6px 10px;padding: 0 0 0 25px;
}
.article ul li span{
    float:right;margin:0;padding:0;color: #999;
}
.article ul li a:hover{
    color: #1297D1;
}
.article DL {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px}
.article DT {
    FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f60; LINE-HEIGHT: 30px
}
.article DD {
    FONT-SIZE: 14px;
    COLOR: #999;
    LINE-HEIGHT: 23px;
    vertical-align: bottom;
}
.article DD A:link {
    COLOR: #333
}
.article DD A:visited {
    COLOR: #333
}
.article.h3{

}
